.body {
  background-color: #d0e1d9;
  margin: 0 auto;
  overflow-x: hidden;
}

.logo {
  width: 150px;
}

.list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-size: large;
}

.list__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.4s;
}

.list__link::after {
  content: "";
  height: 2px;
  width: 0;
  transition: width 0.5s;
  background-color: #432523;
  display: block;
}

.list__link:hover::after {
  width: 100%;
}

.list__link:hover {
  color: white;
}

.nav {
  background-color: rgba(176, 113, 101, 0.9490196078);
  margin: 0 auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: solid #75372a;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  font-weight: 600;
  margin: 0 auto;
  max-width: 1024px;
}

.hero {
  align-content: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  height: 500px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5611e7e2e4b01402b90bb1cb/1449632459004-SRIGUMTVNUY1GXGEBXS6/moresmores.png?format=1500w");
  background-size: cover;
  background-position: center;
}

.cards__img {
  max-width: 300px;
}

.card {
  background-color: rgba(187, 235, 227, 0.825);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 500px;
  border: 0.1rem solid #75372a;
}

.card__header {
  /*background-color: #b07265;*/
}

.card__title {
  margin: auto;
  text-align: center;
  padding: 0.3rem;
  /*background-color: #e2dabcd4;*/
}

.card__subtitle {
  padding: 1rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.587);
}

.card__p {
  display: none;
  padding: 0.8rem;
  margin: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.587);
  /*background-color: #7c4c3cd3;*/
}

@media (min-width: 768px) {
  .cards__img {
    max-width: 400px;
  }
  .card__p {
    display: block;
  }
  .card {
    background-color: rgba(187, 235, 227, 0.825);
    border-radius: 1rem;
    overflow: hidden;
    max-width: 500px;
    border: 0.3rem solid #75372a;
  }
  .card__subtitle {
    text-align: center;
    /*background-color: #582820b7;*/
    margin: auto;
    background-color: rgba(255, 255, 255, 0.587);
  }
}
.productos {
  display: flex;
  flex-direction: column;
  background-color: #bfa77e;
}

.content {
  display: flex;
  justify-content: center;
  background-color: #faf3dd;
  margin: 2rem auto;
  padding: 0 3rem;
  border-radius: 2rem;
  width: 100px;
  box-shadow: 4px 4px 1px #f7e8b5;
  border: 1.5px solid #f7e8b5;
}

.content__title {
  margin: 5px;
  display: flex;
  justify-items: center;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
}

.element {
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  background-color: rgba(151, 139, 103, 0.5333333333);
  border: 2px solid #f7e8b5;
}

.element--description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.element--description-title {
  margin: 0;
}

.element--description-p {
  display: none;
}

.content--img {
  display: flex;
}

.element--img {
  display: flex;
  padding: 0 2rem;
  border: 2px solid #75372a;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.288);
  width: 100px;
}

.button {
  margin-top: 2rem;
  background-color: #7c6049;
  box-shadow: 3px 3px 1px #634f38;
  border: 2px solid #725640;
  border-radius: 0.8rem;
}

@media (min-width: 768px) {
  .element--img {
    width: 200px;
  }
  .element--description-p {
    display: block;
  }
  .content__title {
    margin: 1.5rem 0;
  }
}
.container--form-header {
  text-align: center;
  background-color: #f7e8b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 2px solid rgb(144, 72, 25);
  width: 540px;
  margin: auto;
}

.container--form-header-text {
  margin: 10px auto;
}

.container--form {
  display: flex;
  background-color: rgb(206, 153, 85);
  border: 4px solid rgb(79, 58, 33);
  width: 500px;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem auto 5rem;
  padding: 20px;
  align-items: center;
}

.img--ww {
  border-radius: 50%;
}

.controls {
  width: 100%;
  background-color: #f7e8b5;
  padding: 5px;
  border-radius: 2rem;
  margin-bottom: 10px;
  border: 2px solid #725640;
  transition: background-color 0.5s;
}

.controls:focus {
  background-color: white;
}

.select {
  appearance: none;
  width: 100%;
  background-color: #f7e8b5;
  padding: 5px;
  border-radius: 2rem;
  margin-bottom: 10px;
  border: 2px solid #725640;
  transition: background-color 0.5s;
}

.select:focus {
  background-color: white;
}

.form__terminos {
  font-size: 12px;
}

.form-condiciones {
  text-decoration: none;
  color: white;
}

.form-condiciones:hover {
  text-decoration: underline;
}

.form__button {
  display: flex;
  justify-content: center;
  background-color: #7c6049;
  border: 2px solid #725640;
  border-radius: 0.8rem;
  margin: auto;
}

.form__button:hover {
  box-shadow: 2px 2px 1px #634f38;
}

.tienda__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.tienda__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.img--img {
  border-radius: 1rem;
  height: 133px;
}

.tienda__container-text {
  display: flex;
  margin: 1rem auto;
  border: 2px solid brown;
  border-radius: 1rem;
  padding: 5px;
}

@media (min-width: 768px) {
  .tienda__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=iberica.css.map */
