.nav {
    background-color: #b07265;
    margin: 0 auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: solid #75372a;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    font-weight: 600;
    margin: 0 auto;
    max-width: 1024px;


}

