.productos {
    display: flex;
    flex-direction: column;
    background-color: #bfa77e;
}

.content {
    display: flex;
    justify-content: center;
    background-color: #faf3dd;
    margin: 2rem auto;
    padding: 0 3rem;
    border-radius: 2rem;
    width: 100px;
    box-shadow: 4px 4px 1px #f7e8b5;
    border: 1.5px solid #f7e8b5;
}

.content__title {
    display: flex;
    justify-items: center;
}

.elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;

}

.element {
    display: flex;
    border-radius: 1rem;
    justify-content: space-around;
    background-color: #978b6788;
    border: 2px solid #f7e8b5;
}

.element--description {

}

.content--img {
    display: flex;
}

.element--img {
    display: flex;
    padding: 0 2rem;
    border: 2px solid #75372a;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.288);
}