.section {
    margin: 5rem auto;
}

.productos {
    display: flex;
    flex-direction: column;
    background-color: #83c5a4;
}

.content {
    display: flex;
    justify-content: center;
    background-color: #faf3dd;
    margin: 2rem auto;
    padding: 0 3rem;
    border-radius: 2rem;
    width: 100px;
    box-shadow: 4px 4px 1px #f7e8b5;
    border: 1.5px solid #f7e8b5;
}

.content__title {
    margin: 5px;
    display: flex;
    justify-items: center;
}

.elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;

}

.element {
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: #ffffff85;
    border: 2px solid #d8c68ad3;
}

.element--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.element--description-title {
    margin: 0;
}

.element--description-p {
    display: none;
}

.content--img {
    display: flex;
}

.element--img {
    display: flex;
    padding: 0 2rem;
    border: 2px solid #75372a;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.288);
    width: 100px;
}

.button {
    margin-top: 2rem; 
    background-color: #7c6049;
    
    border: 2px solid #725640;
    border-radius: 0.8rem;
    transition: box-shadow 0.4s;
}

.button:hover {
    box-shadow: 3px 3px 1px #634f38;
}


@media(min-width: 768px) {
    .element--img {
        width: 200px;
    }

    .element--description-p {
        display:block;
    }

    .content__title {
        margin: 1.5rem 0;
    }

}
